/*globales*/
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
}
body{
    background-size: 5rem;
}
#grid_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}
header{
    grid-area: header;
    height: 100px;
}
.container-fluid{
    
}
.container-fluid img{
justify-content: center;
}
div{
    background-color: rgb(200, 132, 221);
    color: white;
}
.container img{
    height: 150px;
    width: 150px;
}
#navbarNav{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
main{
    grid-area: main;
}
h2{display: flex;
    justify-content: center;
}
footer{
    grid-area: footer;
    align-items: center;
}
/*movile first*/
main{
    height: 80vh;
    padding-top: 50px;
    padding-bottom: 70%;
}

footer{
    background-color: rgb(200, 132, 221);
    height: 5rem;
    
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}

@media screen and (min-width:768px){
    #grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    
    header{
        height: 100%;
        }
    }
    footer{
        background-color: rgb(200, 132, 221);
        height: 10rem;
    }
body{
    height:100% ;
    width: 100%;
}
.navbar-collapse{
    flex-grow: 0;
    margin-right: 50px;
}
.container-fluid{
}

.container-fluid img{
    height: 100px;
    width: 130px;
}
.iframe_container{
    display: flex;
    justify-content: center;
    }
footer ul li img{
    
    height: 100px;
    width: 100px;
}
div h4{
    background-color: rgb(143, 176, 206);
}

